@{
    ViewData["Title"] = "Message";
}

@model string

<div class="container">
    <div>
        <h2>Here is a message!</h2>
    </div>

    <div>
        <p>@Model</p>
    </div>
</div>
