@{
    ViewData["Title"] = "Users";
}
@model List<User>

<div class="container">
    <h1>Here are some users!</h1>
    <ul>
        @foreach (User user in Model)
        {
            <li>@user.FirstName @user.LastName</li>
        }
    </ul>
</div>