@{
    ViewData["Title"] = "User";
}
@model User

<div class="container">
    <h2>Here is an user!</h2>
    <div class="jumbotron">
        <p style="font-size: 50px;">@Model.FirstName @Model.LastName</p>
    </div>
</div>